<!DOCTYPE html>
<html>

<head>
    <title>BlackJack</title>
    <link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
    <link rel="stylesheet" href="/application/stylesheets/formInput.css">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body>
    <div class="main-change login">
        <h1>Sign In</h1>
        <form class="main_form" action="/login" method="POST">
            <label for="login">Login:</label>
            <input class="main_form-input" name="login">
            <label for="password">Password:</label>
            <input class="main_form-input" name="password" type="password">
            <p>Don't have an account yet? <a href="/register">Register</a></p>
            <input class="main_form-submit" type="submit" value="Login">
        </form>
    </div>
</body>

</html>