<!DOCTYPE html>
<html>

<head>
    <title>BlackJack</title>
    <link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
    <link rel="stylesheet" href="/application/stylesheets/main.css">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body>
    <nav class="nav">
        <ul>
            <a href="/login"><button class="nav-button">Log in</button></a>
            <a href="/register"><button class="nav-button">Register</button></a>
        </ul>
    </nav>
    <div class="main">
        
        <h1>BlackJack</h1>
        <div class="card"></div>
        <div class="card" id="rotated"></div>
    </div>
</body>

</html>