<!DOCTYPE html>
<html>

<head>
    <title>BlackJack</title>
    <link rel="shortcut icon" type="image/x-icon" href="/application/images/icon.ico">
    <link rel="stylesheet" href="/application/stylesheets/formInput.css">
    <link rel="stylesheet" href="/application/stylesheets/forall.css">
</head>

<body>
    <div class="main-change login">
        <h1>Make an account</h1>
        <form class="main_form" action="/register" method="POST">
            <label for="login">Login:</label>
            <input class="main_form-input" name="new_login">
            <label for="password">Password:</label>
            <input class="main_form-input" name="new_password" type="password">
            <label for="password">Confirm Password:</label>
            <input class="main_form-input" name="confirm_password" type="password">
            <p>Already have an account? <a href="/login">Log In</a></p>
            <input class="main_form-submit" type="submit" value="Register">
        </form>
    </div>
</body>

</html>